body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
iframe {
  border: 0;
}
.multitest--widget {
  transition: all .3s;
  position: fixed;
  z-index: 5000;
  bottom: 0;
  height: 130px;
  width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.multitest--widget a,
.multitest--widget .mt-btn,
.multitest--widget button {
  cursor: pointer !important;
  display: inline-block;
}
.multitest--widget .multitest--close {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 5002;
  margin-top: -25px;
  right: 25px;
}
.multitest--widget .multitest--hideit {
  display: none;
}
.multitest--widget .multitest--container {
  text-align: center;
  padding: 10px 0 13px;
  box-sizing: border-box;
  height: 100%;
}
.multitest--widget .multitest--title {
  text-align: inherit;
  font-size: 13px;
}
.multitest--widget .multitest--btns {
  font-size: 14px;
}
.multitest--widget .multitest--btns .multitest--btn {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 15px;
  padding: 0 13px;
  height: 35px;
  border-width: 0;
  border: 1px solid;
  font-family: sans-serif;
  font-weight: normal;
  font-size: inherit;
  text-decoration: none;
  line-height: 33px;
  cursor: pointer;
  font-size: 100%;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  transition: all .3s;
  overflow: visible;
}
.multitest--widget .multitest--btns .multitest--btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.multitest--widget .multitest--backdrop {
  background: #000;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: 5001;
}
.multitest--widget .multitest--step--check form#multitest--check--address {
  margin: 10px auto 4px;
  max-width: 80%;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}
.multitest--widget .multitest--step--check input {
  height: inherit;
  line-height: inherit;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0;
  font-size: inherit;
  border: 1px solid rgba(230, 230, 230, 0.75);
  border-radius: 0 4px 4px 0;
  width: 99%;
}
.multitest--widget .multitest--step--check a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
}
.multitest--widget .multitest--map--box {
  transition: all .3s;
  display: block;
  background: #ddd;
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  z-index: 5001;
  opacity: 0;
}
.multitest--widget.activate--mt {
  height: 100%;
}
.multitest--widget.activate--mt .multitest--backdrop {
  opacity: .6;
}
.multitest--widget.activate--mt .multitest--container {
  z-index: 5001;
  position: relative;
  height: 100px;
  top: 50%;
  margin-top: -75px;
}
.multitest--widget.activate--mt .multitest--close {
  top: 25px;
  right: 25px;
  margin: 0;
}
.multitest--widget.multitest--with--map .multitest--container {
  top: 0;
  margin: 0;
}
.multitest--widget.multitest--with--map .multitest--step {
  display: none !important;
}
.multitest--widget.multitest--with--map .multitest--step.multitest--step--check {
  display: block !important;
}
.multitest--widget.multitest--with--map .multitest--map--box {
  width: 100%;
  height: 100%;
  top: 100px;
  opacity: 1;
}
.multitest--widget.multitest--with--map .multitest--map--box .multitest--btn {
  text-align: center;
  margin: auto;
  display: block;
  height: 45px;
  line-height: 45px;
}
.multitest--container {
  color: #ff700e !important;
  background: #fff;
}
.multitest--btn--primary {
  background: #ff700e !important;
  border-color: #ff700e !important;
  color: rgba(255, 255, 255, 0.75) !important;
}
.multitest--btn--primary:hover {
  background: #ff8532 !important;
  border-color: #ff8532 !important;
}
.multitest--btn--primary:active,
.multitest--btn--primary:focus {
  background: #ff700e !important;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
.multitest--btn--out {
  border-color: #ff700e !important;
  color: #ff700e !important;
}
.multitest--btn--out:hover {
  background: #ff8532 !important;
  color: rgba(255, 255, 255, 0.75) !important;
}
.multitest--btn--out:active,
.multitest--btn--out:focus {
  background: lighte(#ff700e, 7%) !important;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
.multitest--close svg {
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.multitest--close svg > circle {
  stroke: #ff700e;
  fill: none;
}
.multitest--close svg > path {
  stroke: #ff700e;
}
.multitest--close:hover svg > circle {
  fill: #ff700e;
}
.multitest--close:hover svg > path {
  stroke: rgba(255, 255, 255, 0.75);
}
.multitest--widget.activate--mt .multitest--close svg > circle {
  stroke: rgba(255, 255, 255, 0.75);
  fill: none;
}
.multitest--widget.activate--mt .multitest--close svg > path {
  stroke: rgba(255, 255, 255, 0.75);
}
.multitest--widget.activate--mt .multitest--close:hover svg > circle {
  fill: rgba(255, 255, 255, 0.75);
}
.multitest--widget.activate--mt .multitest--close:hover svg > path {
  stroke: #ff700e;
}
.multitest--widget.activate--mt .multitest--container {
  background: #ff700e !important;
  color: rgba(255, 255, 255, 0.75) !important;
  box-shadow: 0 0 15px 0 #ff700e;
}
.multitest--widget.activate--mt .multitest--btn--primary {
  background: rgba(255, 255, 255, 0.75) !important;
  border-color: rgba(255, 255, 255, 0.75) !important;
  color: #ff700e !important;
}
.multitest--widget.activate--mt .multitest--btn--primary:hover {
  background: #ff700e !important;
  border-color: rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75) !important;
}
.multitest--widget.activate--mt .multitest--btn--primary:active,
.multitest--widget.activate--mt .multitest--btn--primary:focus {
  background: #ff700e !important;
  color: rgba(255, 255, 255, 0.75) !important;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
.multitest--widget.activate--mt .multitest--btn--out {
  border-color: rgba(255, 255, 255, 0.75) !important;
  color: rgba(255, 255, 255, 0.75) !important;
}
.multitest--widget.activate--mt .multitest--btn--out:hover {
  background: rgba(255, 255, 255, 0.75) !important;
  border-color: #ff700e;
  color: #ff700e !important;
}
.multitest--widget.activate--mt .multitest--btn--out:active,
.multitest--widget.activate--mt .multitest--btn--out:focus {
  background: rgba(255, 255, 255, 0.75) !important;
  color: #ff700e !important;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .multitest--close {
    display: block !important;
  }
  .multitest--widget .multitest--title {
    font-size: 21px;
  }
  .multitest--widget .multitest--btns {
    font-size: 15px;
  }
  .multitest--widget .multitest--btn {
    padding: 0 25px !important;
    height: 52px !important;
    line-height: 50px !important;
  }
  .multitest--widget .multitest--container {
    padding: 22px 0 27px;
  }
  .multitest--widget.activate--mt .multitest--container {
    height: 150px;
  }
  .multitest--widget.multitest--with--map .multitest--map--box {
    top: 150px;
  }
  .multitest--step--check form#multitest--check--address {
    margin: 15px auto 7px !important;
    font-size: 15px !important;
    height: 40px !important;
    line-height: 40px !important;
  }
}
.pac-container {
  z-index: 10000 !important;
}

.loading {
  background-color: #ffffff;
  background-image: url("http://loadinggif.com/images/image-selection/3.gif");
  background-size: 25px 25px;
  background-position:right center;
  background-repeat: no-repeat;
}

#step-coverage .multitest--title {
  font-size: 24px;
  padding-top: 30px;
}
